* {
  margin: 0;
}

header {
  margin-top: 0.2em;
}

header img {
  width: 50px;
  object-fit: contain;
}

.flexed {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#content {
  margin-top: 1em;
}

#content h1 {
  margin-bottom: 1em;
}

#results {
  margin-top: 1em;
}

.items {
  align-items: start;
}

.item {
  margin-bottom: 1em;
}

#updateButton {
  width: 70%;
  height: 30px;
  border: 1px solid #333;
  transition: background-color 0.3s ease-in;
}

#updateButton:hover {
  background-color: rgb(194, 193, 193);
}
