* {
  margin: 0;
}

header {
  margin-top: 0.2em;
}

header img {
  width: 50px;
  object-fit: contain;
}

.flexed {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1em;
}

#content {
  margin-top: 1em;
}

#content h1 {
  margin-bottom: 1em;
}

#results {
  margin-top: 1em;
}

.items {
  align-items: start;
}

.item {
  margin-bottom: 1em;
}
